@import "./import";

.flex-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    
    // https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
    height: -webkit-fill-available;

    @include when-on-desktop {
        flex-direction: row;
    }
    
    > * {
        padding: var(--spacing);
    }

    main {
        flex: 1 0 67%;
    }

    aside {
        flex: 0 0 33%;
        display: flex;

        // Default min-width/min-height are auto, meaning child items increase the size of the container
        // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
        min-width: 0;
        min-height: 0;
    }
}
