#babylon-canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    // https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
    max-height: -webkit-fill-available;
}
