@import "./import";

$borderRadius: 10px;

@mixin slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-height);
    height: var(--slider-height);
    background: var(--purple-light);
    cursor: pointer;
    border-radius: $borderRadius;
    border: none;
}

section.cam-zoom-ui {
    position: absolute;
    bottom: 10px;
    width: 100%;

    @include when-on-desktop {
        bottom: 70px;
    }

    input#slider {
        appearance: none;
        display: block;
        width: 66%;
        height: var(--slider-height);
        margin: auto;
        background: var(--purple-dark);
        border-radius: $borderRadius;
        box-shadow: inset 0px 4px 5px 0px #544a7d;
        pointer-events: all;

        &::-moz-range-thumb {
            @include slider-thumb();
        }

        &::-webkit-slider-thumb {
            @include slider-thumb();
        }
    }
}
