$thumbSize: 30px;

#cam-zoom-ui {
    position: absolute;
    bottom: 100px;
    width: 67vw;
    height: 10px;
}

input.slider {
    display: block;
    width: 300px;
    height: 100%;
    margin: auto;
}
