$buttonSize: 50px;
$summaryHover: #37314d;

@mixin pos-absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}

#help-ui-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: $buttonSize;
    height: $buttonSize;
    border-radius: $buttonSize / 2;
    background: none;
    font-size: 16px;

    border: 1px solid var(--purple-mid);
    color: var(--purple-mid);

    &:hover {
        border-color: var(--purple-light);
        color: var(--purple-light);
    }
}

dialog#help-ui-dialog {
    &::backdrop {
        background-color: darkorange;
    }
    @include pos-absolute-center;
    width: 80%;
    max-width: 960px;

    border: 1px solid var(--purple-light);
    border-radius: 8px;
    background-color: rgba(#15131c, 0.95);
    padding: 30px;

    main {
        max-height: 70vh;
        overflow: auto;
        margin-bottom: 30px;
    }

    h1 {
        margin-bottom: 16px;
        font-size: 22px;
    }

    details {
        &[open] {
            margin-bottom: 26px;

            summary {
                background-color: $summaryHover;
            }
        }

        summary {
            line-height: 2.2em;
            margin-bottom: 10px;

            span {
                display: inline-block;
                width: 40px;
            }

            &:hover {
                background-color: $summaryHover;
            }
            cursor: pointer;
            list-style: none;
        }

        > :not(summary) {
            margin-left: 40px;
        }

        h2 {
            font-size: 18px;
        }

        p {
            margin-bottom: 10px;
        }

        dl {
            display: flex;
            flex-wrap: wrap;
        }
        dt {
            width: 22%;
        }
        dd {
            width: 70%;
        }
    }

    button {
        float: right;
        background: var(--purple-dark);
        border: none;
        border-radius: 2px;
        padding: 10px;

        &:hover {
            background: var(--purple-light);
            color: var(--purple-dark);
        }
    }
}
