#loading-ui {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: var(--padding-20);
    pointer-events: none;

    .loading-bar-track {
        border-radius: 1px;
        height: 2px;
        width: 100%;

        .loading-bar-fill {
            background-color: #fff;
            height: 100%;
            width: 0%;
            transition: width 0.5s;
        }
    }
}
