@import "./_import.scss";

#main-ui {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: var(--padding-20);

    @include when-on-desktop {
        flex-direction: column;
    }

    section.filters {
        flex: 4 0 0;
    }

    section.data-list {
        flex: 12 0 0;
        display: flex;
        align-items: stretch;

        ul {
            background-image: url("../images/grid-background.png");
            mask-image: linear-gradient(to bottom, transparent 0%, black 15% 85%, transparent 100%);
            overflow-x: hidden;
            overflow-y: auto;
            width: 100%;
            height: 33vh; // Hacky, but without it, the <ul> doesn't take full height of the flex parent and li:first-child/li:last-child 50% do not work

            @include when-on-desktop {
                height: 62vh; 
            }

            li {
                transition: font-weight 0.2s;
                padding: 1px 6px;
                color: #c4c2c2;
                &:first-child,
                &:last-child {
                    height: 50%;
                }

                &.active {
                    font-weight: 800;
                    color: #ffffff;
                }
            }
        }
    }

    section.legend {
        flex: 0.2 0 0;

        p {
            writing-mode: vertical-rl;
            font-style: italic;
        }

        @include when-on-desktop {
            p {
                writing-mode: horizontal-tb;
            }
        }
    }

    button,
    ul {
        pointer-events: all;
    }
}
