#data-list-aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;
    height: 100vh;
    box-sizing: border-box;
    background-color: red;
    padding: 20px;

    ul {
        background-color: blue;
        overflow-x: hidden;
        overflow-y: auto;

        width: 100%;
        height: 60%;
        box-sizing: border-box;

        li {
            transition: font-weight 0.2s font-size 0.2;
            &:first-child {
                height: 54%;
                display: flex;
                flex-direction: column-reverse;
            }

            &:last-child {
                height: 54%;
            }

            &.active {
                // font-size: 30px;
                font-weight: 800;
            }
            &.activeSibling {
                // font-size: 20px;
                // font-weight: 400;
            }
        }
    }
}
