@import "./import";

@mixin vertical-bar {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #fff;
}

main {
    position: relative; // For CamZoomUI to position itself absolutely but relative this parent
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include when-on-desktop {
        flex-direction: column;
    }

    section.loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        background: linear-gradient(241.1deg, #2b2431 15.58%, #12171f 98.72%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing);

        &.loaded {
            animation: fade 1s 0s forwards;

            .loading-content {
                display: none;
            }
        }

        .loading-bar-track {
            border-radius: 1px;
            height: 2px;
            width: 100%;

            .loading-bar-fill {
                background-color: #fff;
                height: 100%;
                width: 0%;
                transition: width 0.2s;
            }
        }
    }

    section.title {
        position: relative;
        overflow: hidden;
        &::before {
            @include vertical-bar();
            animation: vertical-bar-blink 4s 0s both infinite;
        }

        &.loaded::before {
            animation: fade 1s 1s forwards;
        }

        h1 {
            margin-left: 6px;
            font-size: min(4.2vw, 1.6rem);
            animation: text-slide-in 0.7s 3s both;
        }

        h3 {
            margin-left: 6px;
            font-size: min(4vw, 1rem);
            animation: text-slide-in 0.8s 1s both;
        }

        p {
            margin-left: 6px;
            font-size: min(3vw, 1rem);
            animation: text-slide-in 0.6s 5s both;
        }

        a {
            pointer-events: all;
        }
    }
}

@keyframes vertical-bar-blink {
    0%,
    20%,
    40%,
    60%,
    80% {
        opacity: 0;
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        opacity: 1;
    }
}

@keyframes text-slide-in {
    0% {
        transform: translateX(-105%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
