@import "./_import.scss";

aside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--padding-20);

    section.filters {
        flex: 1;
    }

    ul {
        flex: 12;
        background-image: url("../images/grid-background.png");
        // mask-image: linear-gradient(to bottom, transparent 0%, black 15% 85%, transparent 100%);
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;

        li {
            transition: font-weight 0.2s;
            padding: 1px 6px;
            color: #c4c2c2;
            &:first-child,
            &:last-child {
                height: 50%;
            }

            &.active {
                font-weight: 800;
                color: #ffffff;
            }
        }
    }

    section.legend {
        flex: 0.2;

        p {
            writing-mode: horizontal-tb;
            font-style: italic;
            text-align: end;
        }
    }

    button,
    ul {
        pointer-events: all;
    }
}
