@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Tajawal', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  background-color: #3d3544;
}

* {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}